body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/background/background.png);
}

.mainpage body {
    background-image: url(../images/background/dotaheroes.jpg);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: url(.../images/attributes/Agility_attribute_symbol.png); /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

#Strength::-webkit-slider-thumb {
    background: url(.../images/attributes/Strength_attribute_symbol.png);
}

#Agility::-webkit-slider-thumb {
    background: url(.../images/attributes/Agility_attribute_symbol.png);
}

#Intelligence::-webkit-slider-thumb {
    background: url(.../images/attributes/Intelligence_attribute_symbol.png);
}

#sliders {
    width: 200px;
}

    #sliders li {
        margin-bottom: 10px;
    }

    #sliders div {
        margin-bottom: 5px;
    }

@font-face {
    font-family: DotaFont;
    src: url('fonts/Trajan Bold.ttf');
}

@font-face {
    font-family: SansationLight;
    src: url('fonts/SansationLight.ttf');
}

p {
    font-family: SansationLight;
}

a {
    color: black;
}

h1 {
    font-family: DotaFont;
    color: darkred;
}

h2 {
    font-family: DotaFont;
}

h3 {
    font-family: DotaFont;
}

h4 {
    font-family: DotaFont;
}

h5 {
    font-family: DotaFont;
}

h6 {
    font-family: DotaFont;
}

.btn-default {
    border: 1px solid #8b0000;
}

    .btn-default:hover {
        background-color: transparent;
        border: 1px solid black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
