@model DefenceOfTheAncientsRPG.Models.AccountViewModel.AccountEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <button type="submit" class=" btn btn-default">Edit account</button>
</form>