
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="col-md-4">
    <button class="btn btn-default center-block" onclick="location.href ='@Url.Action("Items", "Content")'">Items</button>
</div>
<div class="col-md-4">
    <button class="btn btn-default center-block" onclick="location.href ='@Url.Action("Dungeons", "Content")'">Dungeons</button>
</div>
<div class="col-md-4">
    <button class="btn btn-default center-block" onclick="location.href ='@Url.Action("Quests", "Content")'">Quests</button>
</div>

