@model DefenceOfTheAncientsRPG.Models.HomeViewModel.HomeLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        <b>@ViewBag.ErrorMessage</b>
        @if (!string.IsNullOrWhiteSpace(ViewBag.BlockedMessage))
        {
            <br /><br />
            <p>Message to user: </p>
            @ViewBag.BlockedMessage;
        }
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class=" btn btn-default">login</button>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
