@model DefenceOfTheAncientsRPG.Models.HeroViewModel.HeroAttributesViewModel
@{
    ViewData["Title"] = "Attributes";
}

<h2>Attributes</h2>

<p>Strength: @Model.Strength</p>
<p>Agility: @Model.Agility</p>
<p>Intelligence: @Model.Intelligence</p>