@model DefenceOfTheAncientsRPG.Models.HeroViewModel.HeroSelectViewModel

@{
    ViewData["Title"] = "Select";
}

<h2>Select</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in Model.userHeroes)
        {
            <tr>
                <td>
                    @Html.ActionLink("Select", "Select", new { hero.Id})
                </td>
                <td>
                    @hero.Name
                </td>
            </tr>
        }
    </tbody>
</table>
