@model DefenceOfTheAncientsRPG.Models.AdminViewModel.AdminBlockViewModel

@{
    ViewData["Title"] = "Block";
}

<h2>Block</h2>

<h4>AdminBlockViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Block">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-sm">
                <label asp-for="Permanent" class="control-label"></label>
                <input asp-for="Permanent" class="checkbox-inline" onclick="Hide()" id="checkbox" />
                <span asp-validation-for="Permanent" class="text-danger"></span>
            </div>
            <div class="form-group" id="untildiv">
                <label asp-for="Until" class="control-label"></label>
                <input asp-for="Until" class="form-control" />
                <span asp-validation-for="Until" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AdminId" class="form-control"/>
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control"/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Block" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function Hide() {
        console.log($('#checkbox').is(':checked'));
        if ($('#checkbox').is(':checked')) {
            $('#untildiv').addClass('hidden');
        }
        else {
            $('#untildiv').removeClass('hidden');
        }
    }
</script>