@model DefenceOfTheAncientsRPG.Models.AdminViewModel.AdminManageAdminsViewModel

@{
    ViewData["Title"] = "ManageAdmins";
}

<h2>ManageAdmins</h2>

<p>
    <a asp-action="Register">Create new administrator</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Account ID</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Administrator admin in Model.Admins)
        {
            <tr>
                <td>
                    <p>@admin.FirstName @admin.LastName</p>
                </td>
                <td>
                    <p>@admin.Id</p>
                </td>
                <td>
                    @if (!admin.Activated)
                    {
                        <p>@admin.Password</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
